#App {
    height: 100vh;
}

.rootPage {
    padding: 20px;
}

.paperPage {
    display: inline-block;
    width: 100%;
    height: calc(100vh - 92px);
}

.buttonPage {
    padding: 10px;
}

.rootStep {
    padding: 10px;
    height: calc(100vh - 320px);
}

.paperPanel {
    padding: 10px;
    height: calc(100vh - 266px);
}
