/*
#rootHome {
    padding: '20px'
}


#paperHome {
    display: inline-block;
    width: 100%;
    height: calc(100vh - 88px);
}


*/
#logoVracHome {
    margin: auto;
    display: flex;
    width: 300px;
    height: 300px;
}